<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>forgot password</title>
    <link rel="stylesheet" href="../styles/forgotPassword.css">
</head>
<body>
    <!-- enter email page -->
    <h5 class="page-heading">Reset Password</h5>
    <div class="forgot-password-form">
        <p id="paragraph-info">Enter your email for a verification code to be sent</span>
        <form method="POST" name = "pasResetForm">
            <div id="form-div">
                <input type="text" placeholder="enter email here" name="email" id="email-input" required>
                <button type="button" id="submit-button" onclick="onSubmit()">ok</button>
                <button type="button" onclick="onCodeSubmit()" id="code-submit-button" ></button><br>
                <small id = "wrong-email-input"></small>
            </div>
        </form>
    </div>
<script src="../scripts/forgotPassword.js"></script>
</body>
</html>
