<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/Login.css">
    <title>Longin.</title>
</head>
<body>
    <h2>User Longin</h2>
    <div>
        <form>
            <label for="UserName">User Name:</label>
            <input type="text" id="UserName" name="UserName" 
            placeholder="Enter Name">

            <label for="Password">Pass Word:</label>
            <input type="text" id="PassWord" name="PassWord"
            placeholder="Enter PassWord">

            <a href="../views/forgotPassword.html">Foregotten Pass Word:</a>

            <input type="submit" value="Submit">
            

        </form>
    </div>
    
</body>
</html>