<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new password</title>
    <link rel="stylesheet" href="../styles/newPassword.css">
</head>
<body>
    <form>
        <div class="password-form">
            <input type="text" placeholder="password" id="pwd" name="pwd">
            <input type="text" placeholder="confirm password" id="kpwd" name="kpwd">
            <button type="button" onclick="createPassword()" id="create-pwd-btn">create</button>
        </div>
    </form>
<script src="../scripts/newPassword.js"></script>
</body>
</html>