<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new password</title>
    <link rel="stylesheet" href="../styles/newPassword.css">
    <link rel="stylesheet" href="../assets/bootstrap4/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi maiores excepturi 
                dignissimos tenetur, magni laudantium officiis ullam sint distinctio quo odio debitis 
                ipsam earum veniam quibusdam? Vitae minus tenetur debitis.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi maiores excepturi 
                dignissimos tenetur, magni laudantium officiis ullam sint distinctio quo odio debitis 
                ipsam earum veniam quibusdam? Vitae minus tenetur debitis.
            </div>
            <div class="col-sm-6 new-password-form">
                <h4>Enter New Password</h4>
                <form class="bg-primary new-password-form">
                    <div class="password-form">
                        <div class="pwd-input">
                            <input type="password" placeholder="password here" id="pwd" class = "pwd" name="pwd">
                        </div><br>
                        <div class="pwd-input">
                            <input type="password" placeholder="confirm password" id="kpwd" class = "pwd" name="kpwd">
                        </div><br>
                        <small id = "wrong-email-input"></small>
                        <button type="button" onclick="onSubmitPassword()" id="create-pwd-btn">create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="../scripts/newPassword.js"></script>
<script src="../assets/fontaweswome5/all.min.js"></script>
</body>
</html>