<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/Sign Up.css">
    <title>User Sign Up</title>
</head>
<body>
    <h2>User Sign Up</h2>
    <div>
        <form>
            <label for="User Name">User Name:</label>
            <input type="text" id="userNameField2" name="User Name"
            placeholder="Enter User Name">

            <label for="Email">Email</label>
            <input type="email" id="emailField" name="Email"
            placeholder="Enter Email">

            <label for="Phone Number">Phone Number:</label>
            <input type="tel" id="phoneField " name="Phone Number"
            placeholder="Enter Number">

            <label for="Pass Word">Pass Word:</label>
            <input type="text" id="passwordField2" name="Pass Word"
            placeholder="Enter Pass Word">

            <label for="Confirm Pass Word">Confirm Pass Word:</label>
            <input type="password" id="confirmPasswordField" name="Confirm Pass Word"
            placeholder="Enter Confirm Pass Word">

             
          <input type="submit" value="submit" onclick="userSignUp()">   


        </form>
    </div>
    <script src="../scripts/loginSignUp.js"></script>
</body>
</html>