
.page-heading{
    text-align: center;
    font-size: 2rem;
}

/* styles for forgot password form */
.forgot-password-form{
    margin: 4rem;
    background-color: lightblue;
}

#paragraph-info{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
}

#email-input{
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 25rem;
    width: 30%;
}

#wrong-email-input{
    color:red;
}
#submit-button{
    background-color: blue;
    padding: 0.5rem;
}
.email-label{
    text-align: center;
}