.page-heading{
    text-align: center;
    font-size: 2rem;
    color: saddlebrown;
}

/* styles for forgot password form */
.forgot-password-form{
    margin: 4rem;
    background-color: lightblue;
    padding-bottom: 4rem;
}

#paragraph-info{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
}

#email-input{
    margin-top: 2rem;
    margin-left: 25rem;
    margin-bottom: 1rem;
    width: 30%;
    height: 2rem;
    border-radius: 10px;
}

#wrong-email-input{
    color:red;
    margin-left: 25rem;
    font-size: 15px;
}
#submit-button{
    background-color: blue;
    padding: 0.5rem;
}
.email-label{
    text-align: center;
}

.code-submit-button{
    background-color: blue;
    padding: 0.5rem;
    
}

/* for other screen sizes */
@media (max-width:900px){
    .forgot-password-form{
        margin-right:2rem;
        padding-left: 1rem;
    }

    #paragraph-info{
        font-size: 1rem;
    }

    #email-input{
        margin-left: 1rem;
        margin-top: 2rem;
        margin-bottom: 0;
        width: 50%;
        height: 1rem;
        border-radius: 2px;
    }

    #wrong-email-input{
        color:red;
        margin-right: 0.5rem;
        font-size: 12px;
    }
}