input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:inline-block;
    border: 1px solid #ccc;
    border-radius: 4%;
    box-sizing: border-box;

}
 
input[type=submit]{
    width: 100%;
    background-color: aquamarine;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: blue;
}

div{
    border-radius: 5px;
    background-color: #ccc;
    padding: 20px;
}
