.new-password-form{
    margin: auto;
    padding: 5rem;
}

.pwd{
    width: 70%;
    border-radius: 10px;
}

.pwd-input{
    background-color: black;
    padding: 1rem;
}

#create-pwd-btn{
    background-color: turquoise;
}

#wrong-email-input{
    color:red;
}

.col-sm-6{
    font-size: 1.5rem;
    padding-top: 2rem;
}